
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#252525 ;
    
}

/* COMEÇO HEADER */
.header {
    display: flex;
    width: calc(100% - 112px);
    height: 55px;
    top: 10px;
    right: 20px;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #252525;
    border-bottom: 1px solid #fcc577;
}

.header .container {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .title-header {
    font-size: 20pt;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: white;
    margin-left: 30px;
}

.header .title-header img {
    margin-right: 6px;
}

.header .title-header p {
    margin: 0;
}
/* FIM HEADER */

/* COMEÇO SEARCH */
.search {
}

.search img {
    width: 75px;
    margin-left: 10px;
    padding-right: 7px;
}

/* FIM SEARCH */

.side-menu {
    display: flex;
    width: 75px;
    height: 100%;
    background-color: #fcc577;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.2s linear;
    border-radius: 2px;
}

.side-menu .option {
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.side-menu .option:hover {
    background-color: #777777;
    transition: 0.2s;
}

.side-menu_open {
    background-color: #fcc577;
    height: 100%;
    position: fixed;
    z-index: 2;
    box-shadow: 2.5px 2.5px 15px rgba(60, 60, 60, 0.1);
    left: -300px;
    transition: all 0.2s linear;
    border-radius: 2px;
    
}

.side-menu_open .option {
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    transition: 0.2s;
}

.side-menu_open .option img {
    margin-left: 20px;
}

.side-menu_open .option:hover {
    background-color: #777777;
    transition: 0.2s;
}

.side-menu_open .option p {
    margin: 0px 30px 0px 20px;
    color: black;
    font-weight: bold;
}

.links {
    text-decoration: none;
    color: black;
}

.option {
    cursor: pointer;
}

#check:checked~.side-menu_open {
    transform: translateX(300px);
    transition: all 0.2s linear;
}

/* Notificações */
.search .nav {
	display: flex;
	align-items: center;
	background: #c0c2c2;
	height: 60px;
	position: relative;
}
.iconnot{
	cursor: pointer;
	line-height: 60px;
}
.iconnot span {
	background: #f00;
	padding: 7px;
	border-radius: 50%;
	color: #fff;
	vertical-align: top;
	margin-left: -25px;
}
.iconnot img {
	display: inline-block;
	width: 40px;
	margin-top: 20px;
}
.iconnot:hover {
	opacity: .7;
}

.search .logo {
	flex: 1;
	margin-left: 50px;
	color: #eee;
	font-size: 20px;
	font-family: monospace;
}

.notifi-box {
    width: 330px;
    height: 100%;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    top: 60px;
    float: left;
    right: -15px;
    transition: 1s opacity, 250ms height;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.notifi-box h2 {
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid #eee;
	color: #eee;
}
.notifi-box h2 span {
	color: #f00;
}
.notifi-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 0px 5px;
    margin-bottom: 15px;
    cursor: pointer;
    color: #eee;
}
.notifi-item:hover {
	background-color: #eee;
}
notifi-item img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.notifi-item .text h4 {
	color: white;
	font-size: 16px;
	margin-top: 10px;
}
.notifi-item .text p {
	color: #eee;
	font-size: 12px;
    font-weight: bolder;
}

/* .box-cards{
    position: absolute;
    top: 75%;
    left: 50%;
    height: 500px;
    transform: translate(-50%, -80%);
    width: 70%;
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    background: #AAAAAA;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.linha-box{
    position: absolute;
    top: 21%;
    left: 15%;
    height: 16px;
    transform: translate(-50%, -80%);
    width: 70%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    background: #FCC577;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    transform: matrix(1, 0, 0, -1, 0, 0);
} */


.dashboard-container{
    width: 100%;
    height: 100%;
}

.titulo-dash{
    color: white;
    font-size: 24pt;
    margin: 5px;
    margin-left: 33.6%;
}

.flex-box{
    display: flex;
    height: 626px;
    width: 71%;
    flex-flow: wrap;
    border: solid 1px #fcc577;
    margin-left: 15%;
    padding: 10px;
    margin-left: 13.5%;
}

.dashboard-area img {
    height: 100px;
    cursor: pointer;
    margin-top: 6px;
}

.dashboard-estado-1, .dashboard-estado-2, .dashboard-estado-3,
.dashboard-estado-4, .dashboard-estado-5
{
    width: 293px;
    float: left;
    margin-left: 15px;
    background: #252525;
    margin-top: 13px;
    color: black;
    height: 280px;
    box-shadow: 2px 2px 7px;
    padding: 5px;
}

.graficos {
    height: 623px;
    width: 968px;
    background-color: rgb(255, 255, 255);
    margin-left: 0.4%;
    position: fixed;
    box-shadow: black 2px 2px 7px;
}

.container-corpo{
    width: 90%;
    height: 100%;
    padding-top: 6%;
}

.div_bordas {
    border: 5px solid green;
    margin-left: 4px;
    margin-top: 5px;
    width: 275px;
    background: white;
    box-shadow: 2px 2px 7px;
}

.pc-img {
    margin-bottom: 0px;
    height: 75px;
    margin-left: 60px;
    margin-top: 41px;
}

.pc-imgalert{
    margin-bottom: 1px;
    height: 91px;
    margin-left: 80px;
    margin-top: 24px;
}


.incubadora-img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3;
}

.incubadora-img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.gauge{
    width: 119%;
    max-width: 105px;
    font-family: 'Montserrat','Open Sans', sans-serif;
    font-size: 14pt;
    color: #004033;
    margin-right: 14px;
    margin-top: -23px;
    float: right;
}


.gauge-body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
    margin-top: 18px;

}

.gauge-progress1  {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
     background-color: #009578; 
    transform-origin: center top;
    transform: rotate(0.5turn);
    transition: transform 0.2s ease-out;
    top: 52px;
}

.gauge-contain1{
    width: 69%;
    height: 150%;
    background-color: #252525;
    border-radius: 48%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}

.gauge2{
    width: 119%;
    max-width: 105px;
    font-family: 'Montserrat','Open Sans', sans-serif;
    font-size: 14pt;
    color: #004033;
    margin-right: 14px;
    margin-top: -23px;
    float: right;
}

.gauge-progress2  {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
     background-color: #009578; 
    transform-origin: center top;
    transform: rotate(0.5turn);
    transition: transform 0.2s ease-out;
    top: 52px;
}

.gauge-contain2{
    width: 69%;
    height: 150%;
    background-color: #252525;
    border-radius: 48%;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%);
    color: wheat;

    /* Texto */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}

.gauge3{
    width: 119%;
    max-width: 105px;
    font-family: 'Montserrat','Open Sans', sans-serif;
    font-size: 14pt;
    color: #004033;
    margin-right: 14px;
    margin-top: -23px;
    float: right;
}

.gauge-progress3  {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
     background-color: #009578; 
    transform-origin: center top;
    transform: rotate(0.5turn);
    transition: transform 0.2s ease-out;
    top: 52px;
}

.gauge-contain3{
    width: 69%;
    height: 150%;
    background-color: #252525;
    border-radius: 48%;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%);
    color: wheat;

    /* Texto */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}


.gauge4{
    width: 119%;
    max-width: 105px;
    font-family: 'Montserrat','Open Sans', sans-serif;
    font-size: 14pt;
    color: #004033;
    margin-right: 14px;
    margin-top: -23px;
    float: right;
}

.gauge-progress4  {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
     background-color: #009578; 
    transform-origin: center top;
    transform: rotate(0.5turn);
    transition: transform 0.2s ease-out;
    top: 52px;
}

.gauge-contain4{
    width: 69%;
    height: 150%;
    background-color: #252525;
    border-radius: 48%;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%);
    color: wheat;

    /* Texto */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}

.gauge5{
    width: 119%;
    max-width: 105px;
    font-family: 'Montserrat','Open Sans', sans-serif;
    font-size: 14pt;
    color: #004033;
    margin-right: 14px;
    margin-top: -23px;
    float: right;
}

.gauge-progress5  {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
     background-color: #009578; 
    transform-origin: center top;
    transform: rotate(0.5turn);
    transition: transform 0.2s ease-out;
    top: 52px;
}

.gauge-contain5{
    width: 69%;
    height: 150%;
    background-color: #252525;
    border-radius: 48%;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%);
    color: wheat;

    /* Texto */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}



.gauge6{
    width: 119%;
    max-width: 105px;
    font-family: 'Montserrat','Open Sans', sans-serif;
    font-size: 14pt;
    color: #004033;
    margin-right: 14px;
    margin-top: -23px;
    float: right;
}

.gauge-progress6  {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
     background-color: #009578; 
    transform-origin: center top;
    transform: rotate(0.5turn);
    transition: transform 0.2s ease-out;
    top: 52px;
}

.gauge-contain6{
    width: 69%;
    height: 150%;
    background-color: #252525;
    border-radius: 48%;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%);
    color: wheat;

    /* Texto */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}


