body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #252525;
}


/* COMEÇO HEADER */

.header {
    display: flex;
    width: calc(100% - 112px);
    height: 55px;
    top: 10px;
    right: 20px;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #252525;
    border-bottom: 1px solid #fcc577;
}

.container-corpo {
    width: 88%;
    margin-left: 5%;
    height: 100%;
    padding-top: 9%;
    padding-left: 7%;
}

.header .container {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .title-header {
    font-size: 20pt;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: white;
    margin-left: 30px;
}

.header .title-header img {
    margin-right: 6px;
}

.header .title-header p {
    margin: 0;
}


/* FIM HEADER */


/* COMEÇO SEARCH */

.search {}

#form_alterar {
    float: right;
    width: 75%;
    margin-top: 6.5%;
}

.div-foto {
    margin-top: 7%;
    height: 55%;
    width: 20%;
    float: left;
    border-style: solid;
    padding: 5px;
}

.search img {
    width: 75px;
    margin-left: 10px;
    padding-right: 7px;
}


/* FIM SEARCH */

.side-menu {
    display: flex;
    width: 75px;
    height: 100%;
    background-color: #fcc577;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.2s linear;
    border-radius: 2px;
}

.side-menu .option {
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.side-menu .option:hover {
    background-color: #777777;
    transition: 0.2s;
}

.side-menu_open {
    background-color: #fcc577;
    height: 100%;
    position: fixed;
    z-index: 2;
    box-shadow: 2.5px 2.5px 15px rgba(60, 60, 60, 0.1);
    left: -300px;
    transition: all 0.2s linear;
    border-radius: 2px;
}

.side-menu_open .option {
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    transition: 0.2s;
}

.side-menu_open .option img {
    margin-left: 20px;
}

.side-menu_open .option:hover {
    background-color: #777777;
    transition: 0.2s;
}

.side-menu_open .option p {
    margin: 0px 30px 0px 20px;
    color: black;
    font-weight: bold;
}

.links {
    text-decoration: none;
    color: black;
}

.option {
    cursor: pointer;
}

#check:checked~.side-menu_open {
    transform: translateX(300px);
    transition: all 0.2s linear;
}


/* .box-cards{
    position: absolute;
    top: 75%;
    left: 50%;
    height: 500px;
    transform: translate(-50%, -80%);
    width: 70%;
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    background: #AAAAAA;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.linha-box{
    position: absolute;
    top: 21%;
    left: 15%;
    height: 16px;
    transform: translate(-50%, -80%);
    width: 70%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    background: #FCC577;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    transform: matrix(1, 0, 0, -1, 0, 0);
} */

.dashboard-container {
    border-radius: 30px;
    margin: 10% 0 0 140px;
    width: 87%;
    position: fixed;
    padding-top: 0px;
}

.titulo-dash {
    color: white;
    font-size: 24pt;
    margin: 5px;
    margin-left: 33.6%;
}

.flex-box {
    display: flex;
    height: 431px;
    width: 77.9%;
    flex-flow: row wrap;
    border: solid 1px #fcc577;
    padding: 10px;
}

.dashboard-area img {
    height: 100px;
    cursor: pointer;
    margin-top: 6px;
}

.dashboard-estado-1,
.dashboard-estado-2,
.dashboard-estado-3,
.dashboard-estado-4,
.dashboard-estado-5 {
    text-align: center;
    width: 189px;
    float: left;
    margin-left: 20px;
    background: #626262;
    margin-top: 15px;
    height: 285px;
    box-shadow: 2px 2px 7px;
}

.div_bordas {
    border: 1px solid black;
    height: 165px;
    margin-left: 7px;
    margin-top: 5px;
    width: 172px;
    background: white;
    border-radius: 4px;
    box-shadow: 2px 2px 7px;
}

.incubadora-img {
    margin-bottom: 10px;
    height: 74px;
    margin-top: 45px;
}

.incubadora-img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3;
}

.incubadora-img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.textconfig {
    border-bottom: #fcc577 solid 6px;
    color: white;
    font-size: 23pt;
    border-radius: 10px;
}

.pessoaheader {
    height: 159px;
    margin-left: 16px;
    float: left;
}

.nomeconfig {
    color: white;
    font-size: 20pt;
    margin-top: 20px;
}

.buttonFAQ {
    border-radius: 60px;
    width: 100px;
    height: 40px;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif, 'Do Hyeon';
    font-size: 20px;
}

.textDash {
    color: #fcc577;
    font-size: 23pt;
    margin-top: 60px;
}

#iconDash {
    color: #fcc577;
    font-size: 21pt;
}

.buttonSair {
    border-radius: 60px;
    width: 100px;
    height: 40px;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif, 'Do Hyeon';
    font-size: 20px;
    cursor: pointer;
}

.dash {
    width: 100%;
    padding-top: 10%;
}

.h1dash {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 26pt;
    margin: 0px 0px 5px 0px;
    float: left;
}

.switch-container {
    margin-right: 40%;
}

.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    float: right;
    margin-bottom: 6px;
    margin-right: 5%;
}

.switch--shadow+label {
    padding: 5px;
    width: 105px;
    height: 46px;
    background-color: #dddddd;
    border-radius: 60px;
}

.switch--shadow+label:before,
.switch--shadow+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}

.switch--shadow+label:before {
    right: 1px;
    background-color: #c7c7c7d0;
    border-radius: 60px;
    transition: all 0.4s;
}

.switch--shadow+label:after {
    width: 62px;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
    background-image: url(img/icons/dark_night.png);
    background-size: contain;
    background-position: center;
    background-color: #999;
}

.switch--shadow:checked+label:after {
    transform: translateX(49px);
    background-image: url(img/icons/light_mode.png);
    background-size: contain;
    background-position: center;
    background-color: #fff;
}

.switch--shadow:checked {
    background-color: white;
}

.spanconta {
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif, 'Do Hyeon';
    margin-left: 5%;
    border-bottom: #fcc577 4px solid;
    border-radius: 3px;
}

.box {
    width: 1050px;
    background: #fff;
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    height: 400px;
    background-color: white;
    opacity: 0.8;
    border-radius: 2px;
    margin-left: 0%;
}

.div-esquerda {
    width: 40%;
    float: left;
}

.div-direita {
    float: right;
    width: 45%;
}

.box h2 {
    margin: 0 0 40px;
    padding: 0;
    color: black;
    text-transform: uppercase;
}

.box input {
    padding: 10px 0;
    margin-bottom: 60px;
}

.box testearea {
    min-height: 80px;
    padding: 10px 0;
    margin-bottom: 40px;
}

.box input,
.box textarea {
    width: 101%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
}

.box textarea {
    margin-bottom: 20px;
}

input[type="submit"] {
    border-bottom: none;
    cursor: pointer;
    background: #FCC577;
    color: black;
    text-transform: uppercase;
    width: 70%;
    border-radius: 1px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    height: 30px;
    margin-top: 13px;
    font-weight: bold;
}

input[type="submit"] {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3;
}

input[type="submit"]:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.box form div {
    position: sticky;
}

.box form div label {
    position: absolute;
    z-index: 1;
    top: 5px;
    transition: .5s;
    pointer-events: none;
}

.box input:focus~label,
.box textarea:focus~label,
.box input:valid~label {
    top: -12px;
    left: 0;
    color: #252525;
    font-size: 12pt;
    font-weight: bold;
}

.box input:focus,
.box textarea:focus,
.box input:valid {
    border-bottom: 2px solid #FCC577;
}

.btn-salvar {
    border-bottom: none;
    cursor: pointer;
    background: #FCC577;
    color: black;
    text-transform: uppercase;
    width: 45%;
    border-radius: 1px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    height: 30px;
    margin-top: 5px;
    margin-left: 28%;
    font-weight: bold;
}

.btn-salvar {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3;
}

.btn-salvar:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}