@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #252525;
    overflow-x: hidden;
}


/* COMEÇO HEADER */

.header {
    display: flex;
    width: calc(100% - 112px);
    height: 55px;
    top: 10px;
    right: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #252525;
}

.header .container {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .title-header {
    font-size: 38pt;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: white;
    margin-left: 40px;
    margin-top: 40px;
}

.header .title-header img {
    margin-right: 6px;
}

.header .title-header p {
    margin: 0px 0px 10px 9px;
}


/* FIM HEADER */


/* COMEÇO SEARCH */

.search {}

.search img {
    width: 75px;
    margin-left: 10px;
    padding-right: 7px;
}

.showcase {
    height: 770px;
    width: 100%;
    background-color: rgb(35 35 35 / 90%);
    display: revert;
    background: linear-gradient( 271deg, rgb(0 0 0 / 10%), rgb(33 29 10 / 34%)), url(/img/pexels-fox-1595387.jpg) center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: black 2px 2px 7px;
    margin-top: -30px;
}

.showcase h2 {
    font-size: 55px;
    color: #fcc577;
    padding-top: 270px;
    font-weight: 400;
    line-height: 120px;
    margin: 30px 0 0px 50px;
}

.showcase p {
    font-size: 23.5px;
    color: white;
    padding-top: 0px;
    margin-top: -20px;
    padding: 8px;
    margin-left: 10px;
}

.sombra {
    height: 100%;
    width: 55%;
    margin-left: 55%;
    background-color: rgb(0 0 0 / 61%);
    transform: skewX( 160deg);
    float: unset;
}


/* FIM SEARCH */

.side-menu {
    display: flex;
    width: 75px;
    height: 100%;
    background-color: #fcc577;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.2s linear;
    border-radius: 2px;
}

.side-menu .option {
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.side-menu .option:hover {
    background-color: #777777;
    transition: 0.2s;
}

.side-menu_open {
    background-color: #fcc577;
    height: 100%;
    position: fixed;
    z-index: 2;
    box-shadow: 2.5px 2.5px 15px rgba(60, 60, 60, 0.1);
    left: -300px;
    transition: all 0.2s linear;
    border-radius: 2px;
}

.side-menu_open .option {
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    transition: 0.2s;
}

.side-menu_open .option img {
    margin-left: 20px;
}

.side-menu_open .option:hover {
    background-color: #777777;
    transition: 0.2s;
}

.side-menu_open .option p {
    margin: 0px 30px 0px 20px;
    color: black;
    font-weight: bold;
}

.links {
    text-decoration: none;
    color: black;
}

.option {
    cursor: pointer;
}

#check:checked~.side-menu_open {
    transform: translateX(300px);
    transition: all 0.2s linear;
}


/* Notificações */

.search .nav {
    display: flex;
    align-items: center;
    background: #c0c2c2;
    height: 60px;
    position: relative;
}

.iconnot {
    cursor: pointer;
    line-height: 60px;
}

.iconnot img {
    display: inline-block;
    width: 73px;
    margin-top: -750px;
    float: right;
    padding: 27px;
    position: relative;
}

.iconnot:hover {
    opacity: .7;
}

.linha {
    width: 84%;
    height: 0.1px;
    background: #fcc577;
    margin-top: 75px;
    margin-left: 119px;
}

.search .logo {
    flex: 1;
    margin-left: 50px;
    color: #eee;
    font-size: 20px;
    font-family: monospace;
}

.flex-box {
    display: flex;
    height: 624px;
    width: 74.9%;
    flex-flow: row wrap;
    border: solid 1px #fcc577;
    padding: 10px;
    margin-left: -2.9%;
}

.container-corpo {
    width: 95%;
    margin-left: 5%;
    height: 1000px;
}

.text-sobre {
    margin-left: 20px;
    float: left;
    position: absolute;
}

.text-sobre p {
    padding: 15px;
    padding-top: 35px;
    position: absolute;
    text-decoration: none;
    width: 750px;
    height: 248px;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    margin-top: 50px;
}

.text-sobre p:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 4px solid transparent;
}

.text-sobre p:hover:before {
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #fcc577;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: #fcc577;
        border-right-color: #fcc577;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #fcc577;
        border-right-color: #fcc577;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.text-sobre p:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 4px solid transparent;
}

.text-sobre p:hover:after {
    animation: animate2 1s linear forwards;
}

@keyframes animate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #fcc577;
    }
    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #fcc577;
        border-left-color: #fcc577;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #fcc577;
        border-left-color: #fcc577;
    }
}

.partum {
    width: 95%;
    height: 660px;
}

.partdois {
    width: 95%;
    height: 700px;
    margin-top: 10%;
}

.parttres {
    width: 95%;
    height: 600px;
}

.conttexto {
    float: right;
    width: 40%;
}

.conttexto h2 {
    font-size: 55px;
    color: #fcc577;
    padding-top: 260px;
    line-height: 105px;
    margin: 0px 0 0px 0px;
}

.conttexto p {
    font-size: 23.5px;
    color: white;
    margin-top: -20px;
}

.img1 {
    float: left;
    height: 500px;
    margin-top: 10%;
    margin-left: 3%;
    margin-bottom: 100px;
}

footer {
    background: #111;
    height: auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    padding-top: 28px;
    color: #fff;
    float: right;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    font-family: 'Open Sans', sans-serif;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
}

.footer-content a {
    font-style: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: aliceblue;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.c-preview {
    background: #000;
    background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #000 50%, #000 75%, #474745 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 25%, #000 50%, #000 75%, #0e0d0d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #201d1d 50%, #222121 75%, #252523 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 400% 400%;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 500px;
    max-width: 100vw;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: 0.5s all;
}

.c-preview__img {
    position: absolute;
    left: 0;
    top: 0;
    background: #000 url(https://beecorp.com.br/wp-content/uploads/2017/11/historia-da-ergonomia.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    mix-blend-mode: screen;
}

.c-preview__title {
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 40px;
}

.c-preview:hover {
    background-position: 100% 100%;
}

.c-preview:hover__title {
    text-shadow: 0 0 20px black;
}